[2016-05-12 12:35] jspooren opened #1 "_find_mac_lib() throws exception"
DEBUG:javabridge.jutil:Creating JVM object
DEBUG:javabridge.jutil:Launching VM in non-python thread
ERROR:javabridge.jutil:Failed to execute "find" when searching for libjvm
Traceback (most recent call last):
  File "/Users/jansp/virtualenv/xxxxx-poc/lib/python3.5/site-packages/javabridge/jutil.py", line 116, in _find_mac_lib
    lines = result.split("\n")
TypeError: a bytes-like object is require

[2016-05-12 12:38] jspooren commented on #1
Sorry - wrong repo.  This is obviously a javabridge issue!

[2016-05-12 12:38] #1 closed, assigned to nobody

[2016-08-12 20:28] SethuramanJ opened #2 "Making predictions without target variable."
Hello, Please refer to this post in stackoverflow
The question: is there a way to insert '?' character for unknown values while creating instances just before making predictions? other than reading them from .csv or .arff files

Thank you.

[2016-08-12 20:33] fracpete commented on #2
You didn't provide a link to the stackoverflow question, so I'll just answer it here. Why don't you just create your data on the fly? Here is an example for dealing with the Instances data structure:
https://github.com/fracpete/python-weka-wrapper3-examples/blob/master/src/wekaexamples/core/dataset.py

[2016-08-13 15:41] SethuramanJ commented on #2
Hello,
I missed to paste the link sorry. However you have replied in [the post](http://stackoverflow.com/questions/38919132/regression-test-data-for-prediction-requires-class-value-in-weka/) with an answer.
I am not familiar with working in java. The link that you have provided for Add filter is for implementation in Java. I am using this example for creating attributes and instances, but for a nu

[2016-08-13 19:38] #2 closed, assigned to nobody

[2016-09-01 21:05] fracpete opened #3 "Learning curve for multiple tests sets"
Upgrade method `plot_learning_curve` in module `weka.plot.classifierers` to handle a list of tests sets. This will allow plotting of curves for train and test set in the same plot.

[2016-09-08 20:55] fracpete commented on #3
implemented

[2016-09-08 20:55] #3 closed, assigned to fracpete

[2016-10-22 23:42] fracpete opened #4 "double_matrix_to_ndarray falsely assumes square matrices"
The implementation of double_matrix_to_ndarray assumes that the passed Java matrix is a square matrix. This may be true for confusion matrices but it's definitely an error for Classifier.distributions_for_instances. When there are more instances than class labels, distributions_for_instances works but returns a too big numpy array.

Report for Python 2.7 version of the library: https://github.com/

[2016-10-22 23:48] fracpete commented on #4
That's fixed now.

[2016-10-22 23:48] #4 closed, assigned to fracpete

[2017-08-22 21:46] fracpete opened #5 "M5P fails with javabridge.jutil.JavaException: no/uib/cipr/matrix/Matrix"
Building M5P fails with `javabridge.jutil.JavaException: no/uib/cipr/matrix/Matrix`

More details see here:
https://stackoverflow.com/questions/45709168/python-weka-wrapper3-m5p-return-java-error

[2017-08-22 21:54] fracpete commented on #5
Libraries `mtl.jar`, `core.jar` and `arpack_combined_all.jar` were added as is  to the `weka.jar` in the 3.9.1 release instead of adding their content to it. Repackaged `weka.jar` to fix this issue.

[2017-08-22 21:54] #5 closed, assigned to fracpete

[2017-12-11 20:24] fracpete opened #7 "Sourceable: classifiers, filters"
added support for the Sourceable interface by adding `to_source()` method; outputs `None` if the class doesn't implement the interface

[2017-12-12 20:26] fracpete opened #8 "Python 3.6 compatibility"
Fix compatibility issues with Python 3.6

[2018-01-08 01:45] fracpete opened #9 "Move to Weka 3.9.2"
* use Weka 3.9.2
* avoid recompiling of weka.jar (included jars)?
* class instantiation using Weka's `Utils.forName` method

[2018-02-17 06:12] fracpete commented on #8
Works.

[2018-02-17 06:12] #8 closed, assigned to fracpete

[2018-02-18 02:22] fracpete commented on #9
Done

[2018-02-18 02:22] #9 closed, assigned to fracpete

[2018-02-18 13:47] waormd opened #10 "Train test split"
Hi,

I have predetermined train and test files but can't figure out how to use evaluate my test data after a classifier has been built.

I do not want to use cross validation or anything, purely train a classifier with my existing training file then evaluate it against the test file.

In the Evaluation class I have not been able to achieve this without reshuffling my train and test files which I d

[2018-02-18 19:03] fracpete commented on #10
Just use the test_model method:
http://fracpete.github.io/python-weka-wrapper3/weka.html#weka.classifiers.Evaluation.test_model

For questions, please use the mailing list:
https://groups.google.com/forum/m/#!forum/python-weka-wrapper

[2018-02-18 19:03] #10 closed, assigned to nobody

[2018-02-18 19:40] fracpete opened #11 "Java 9"
- test compatibility with Java 9

[2018-02-18 21:04] fracpete commented on #11
Works

[2018-02-18 21:04] #11 closed, assigned to fracpete

[2018-02-19 22:06] fracpete opened #12 "Test MOOC scripts"
* test all Weka MOOC scripts whether they still work with Java 9

[2018-02-21 20:45] fracpete commented on #12
works

[2018-02-21 20:45] #12 closed, assigned to fracpete

[2018-08-29 10:35] addyag93 opened #14 "Unable to use python-weka-wrapper on macos"
Following is the error I am getting
I am unsure of what package file to use .
Link given to variable "packages" is from Weka application wekafiles
I am getting this error while running it in PyCharm

jvm.start(system_cp=True, packages='/Users/addy93/wekafiles/packages')
DEBUG:weka.core.jvm:Adding bundled jars
DEBUG:weka.core.jvm:Adding system classpath
DEBUG:weka.core.jvm:Classpath=['/Users/addy93

[2018-08-29 20:34] fracpete commented on #14
There are a number of problems:

* pwww3 is designed for Weka 3.9.x and cannot be used with 3.8.x
* the alternative packages directory that you specified is the default one, just use `packages=True`
* don't turn on `system_cp`, as you seem to have lots of duplicate jars in there and also Weka 3.8.x

In other words, what happens when you use the following instead to start up the JVM:
[code]

[2018-08-30 04:08] addyag93 commented on #14
This is the error I am getting:
Also: I m not getting any **weka.jar** while installing python-weka-wrapper3

DEBUG:weka.core.jvm:Adding bundled jars
DEBUG:weka.core.jvm:Classpath=['/Users/addy93/PycharmProjects/Test/venv/lib/python3.6/site-packages/javabridge/jars/rhino-1.7R4.jar', '/Users/addy93/PycharmProjects/Test/venv/lib/python3.6/site-packages/javabridge/jars/runnablequeue.jar', '/Users/add

[2018-08-30 04:14] fracpete commented on #14
The `weka.jar` gets downloaded from github during the installation.
How are you installing pww3? Can you please post all your steps to set up your virtual environment?

[2018-08-30 04:20] addyag93 commented on #14
I am installing python-weka-wrapper3 using Pycharm Python Interpreter.
![screenshot 2018-08-30 09 48 53](https://user-images.githubusercontent.com/14900407/44829367-10848100-ac3a-11e8-8fcc-421ee2cca96c.png)

[2018-08-30 04:23] fracpete commented on #14
Never tested that before. I tend to install from a terminal and then set up PyCharm afterwards.
Are you behind a proxy? Did you see any errors during the installation (console output)?

[2018-08-30 04:31] addyag93 commented on #14
No, I haven't seen any problem on console output while installing it. it installed fine.  Could you please help me with terminal installation steps.

[2018-08-30 04:42] fracpete commented on #14
Here is what I do under Linux (you may have to install `virtualenv` on your system first):
[code]
Notes:
* You may have to adjust the location of your Python 3 interpreter.
* The above installs the virtual environment in the current directory into `venv`. I've only ever tested with version 1.0.14 of javabridge under Python 3.5, hence the condition.

[2018-08-30 05:32] addyag93 commented on #14
Hey,
 I set my environment to python 3.6 and installed pwww3 using the terminal. It installed fine. But the problem still exists.
I tried installing using **conda** but it throws package not found error.
(See if I am doing anything wrong)
EBUG:weka.core.jvm:Adding bundled jars
DEBUG:weka.core.jvm:Classpath=['/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/javabridge/j

[2018-08-30 06:14] fracpete commented on #14
You didn't my question regarding proxy... Other people had problems with Anaconda on OSX as well.
Open an interactive Python shell from your virtual environment and run the following code (the code that the `setup.py` script uses):

[code]

[2018-08-30 07:51] addyag93 commented on #14
I just downloaded the provided GitHub URL and paste it in the package folder. In my case, it worked.

Thanks man.

[2018-08-30 08:14] fracpete commented on #14
As an alternative, clone the repo and install pww3 via the setup.py script. The you'll have the weka.jar as well.

[2018-09-04 22:42] fracpete opened #15 "Include weka.jar in release"
* to avoid download problems with proxies etc, include `weka.jar` in pypi release file

[2018-09-04 22:43] fracpete opened #16 "New release with Weka 3.9.3"
* update weka.jar with Weka 3.9.3
* publish new release

[2018-09-16 02:39] fracpete commented on #15
done with 0.1.5 release

[2018-09-16 02:39] #15 closed, assigned to fracpete

[2018-09-16 02:39] fracpete commented on #16
done with 0.1.5 release

[2018-09-16 02:39] #16 closed, assigned to fracpete

[2018-09-16 02:40] fracpete commented on #14
Release 0.1.5 now includes the weka.jar and no longer downloads it during installation. That should hopefully solve this issue.

[2018-09-16 02:40] #14 closed, assigned to nobody

[2018-10-16 15:08] Arnie97 opened #17 "Logging level of other Python modules are affected"
Hello,
Should we remove `logging.basicConfig(level=logging.DEBUG)` from [python/weka/core/jvm.py:26](https://github.com/fracpete/python-weka-wrapper3/blob/03a2d3f44515ed686ed26ea14b145a88f39a7fb4/python/weka/core/jvm.py#L26)?

This line changes the logging level for the global root logger, which may lead to unexpected verbose logs from other modules, for example, matplotlib:
[code]

[2018-10-16 19:33] fracpete commented on #17
Suggestions for leaving the logging on DEBUG for pww3, but not affect matplotlib?

[2018-10-22 23:42] fracpete commented on #17
Does changing:
[code]
into
[code]
solve the issue for you?

[2018-10-24 02:54] Arnie97 commented on #17
After that change, logs from pww3 are also omitted by the log handler.

[2018-10-24 03:07] Arnie97 commented on #17
The following solution should work:
[code]
Otherwise you'll have to add `logger.setLevel(logging.DEBUG)` to every module.

[2018-10-24 03:12] fracpete commented on #17
Good idea. Will have a look at it when I get some time.

[2018-10-28 01:44] fracpete commented on #17
So I settled on the following:
[code]
The `DEBUG` flag was pretty much only supposed to get used in the `jvm` module anyway (to output the classpath). Thanks again!

[2018-10-28 01:44] #17 closed, assigned to fracpete

[2018-11-13 20:01] fracpete opened #18 "Add wrapper for AssociationRulesProducer"
* add wrapper for `weka.assocations.AssociationRulesProducer`
* add wrappers for subsequent methods as well
  * `weka.assocations.AssociationRules`
  * `weka.assocations.AssociationRule`
  * `weka.assocations.Item`

[2018-12-29 08:42] fracpete commented on #18
implemented

[2018-12-29 08:42] #18 closed, assigned to fracpete

[2019-01-02 04:43] fracpete commented on #7
implemented

[2019-01-02 04:43] #7 closed, assigned to fracpete

[2019-01-13 21:41] plaminenko opened #19 "Installed packages raise "TypeError: Argument 'o' has incorrect type""
I have tried to replicate the example in this presentation [https://www.cs.waikato.ac.nz/~eibe/WEKA_Ecosystem.pdf](url)  on Win 10/python 3.6

**My code is:**
import weka.core.packages as packages
from weka.clusterers import Clusterer
packages.install_package("CLOPE")
'>>>True
cl = Clusterer("weka.clusterers.CLOPE")

**I get the following error:**
  File "<ipython-input-52-7c860d48b1bf>", line 1,

[2019-01-13 21:46] fracpete commented on #19
Did you restart your Python script after installing the package? The package will only become available when the JVM gets restarted.

[2019-01-13 21:56] plaminenko commented on #19
Thanks for the quick reply
Yes, just restarted it and ran:

from weka.core import jvm
import weka.core.packages as packages
from weka.clusterers import Clusterer

jvm.start()
items = packages.all_packages()
for item in items:
    if item.name == "CLOPE":
        print(item.name, item.url)
'>>> CLOPE http://prdownloads.sourceforge.net/weka/CLOPE1.0.1.zip?download
cl = Clusterer("weka.clusterers.CLO

[2019-01-13 22:18] fracpete commented on #19
You're not starting the JVM with support for packages. I just added an example for CLOPE:
https://github.com/fracpete/python-weka-wrapper3-examples/blob/master/src/wekaexamples/clusterers/clope.py

[2019-01-13 23:04] #19 closed, assigned to nobody

[2019-04-09 14:07] pigeon2049 opened #20 "Error when I try to use loader to load arff file with utf-8 characters"
Dear Developer:
English is not my mother tongue.
please excuse any errors on this issue.
I'm new to Weka.
I have made a fomatted arff file. And it just works fine when i load it in Weka Gui. (I have edited RunWeka.ini with fileEncoding=UTF-8)
I use this dataset for text classification and this dataset performs well when i do percentage split classsify with BayesNet Classifier. [result.txt](https:/

[2019-04-09 14:11] pigeon2049 commented on #20
Or i made a wrong formatted arff file?
Anyone can help me?

[2019-04-09 21:06] fracpete commented on #20
Try setting the `_JAVA_OPTIONS` environment variable, using the following value:
[code]

If you're running this from an IDE, you should be able to set this environment variable for the project/interpreter.

[2019-04-09 21:30] fracpete commented on #20
You can set environment variables in your Python code with `os.environ`, e.g., the file encoding:
[code]

[2019-04-10 00:56] pigeon2049 commented on #20
Thank you.
Problem solved.

[2019-04-10 00:56] #20 closed, assigned to fracpete

[2019-04-11 02:35] farzadhallaji opened #21 "AttributeError: 'Instance' object has no attribute 'encode'"
for simple code :
[code]
i got this error :
[code]

[2019-04-11 02:51] fracpete commented on #21
What version of javabridge are you using? Use the following command to output the versions for your Python packages in your environment:
[code]

[2019-04-11 03:09] farzadhallaji commented on #21
javabridge==1.0.18

[2019-04-11 03:12] fracpete commented on #21
That's way too old. The current release is 1.0.18. It's a shame that Anaconda doesn't seem to update their repositories very often. Instead, you should install it straight from pypi.org:
  https://pypi.org/project/javabridge/
Personally, I use virtualenv rather than Anaconda, as it has a much smaller footprint.

[2019-04-11 03:14] farzadhallaji commented on #21
javabridge version is 1.0.18
i got again same error

[2019-04-11 03:16] fracpete commented on #21
Please post minimal code and datasets with which you can replicate this problem.

[2019-04-11 03:25] farzadhallaji commented on #21
[code]
and in main :

[code]

[2019-04-11 03:43] fracpete commented on #21
You are using the wrong test method. Instead of `evaluate_model` (which takes command-line arguments), use the following:
[code]
Hence the error message of the missing `encode` method, since the `Instances` object is not a string.

[2019-04-11 03:43] #21 closed, assigned to nobody

[2019-04-11 03:48] farzadhallaji commented on #21
Thanks :+1: :heart:

[2019-04-11 22:37] farzadhallaji opened #22 "probabilityCalibrationTrees"
how I can use [probabilityCalibrationTrees](http://weka.sourceforge.net/doc.packages/probabilityCalibrationTrees) class from weka?
when will it be supported?

[2019-04-11 22:45] fracpete commented on #22
For questions, please use the mailing list:
https://groups.google.com/forum/#!forum/python-weka-wrapper

Your link was broken, I presume you're referring to this Weka package:
http://weka.sourceforge.net/packageMetaData/probabilityCalibrationTrees/index.html

Install the package and start the JVM with package support:
http://fracpete.github.io/python-weka-wrapper3/api.html#java-virtual-machine
htt

[2019-04-11 22:45] #22 closed, assigned to nobody

[2019-04-17 01:44] pigeon2049 opened #23 "need help with java heap space"
<pre>
def main():
    loader = Loader(classname="weka.core.converters.ArffLoader")
    saved_file = "..\\resource\\saved2.arff"
    data = loader.load_file(saved_file)
    data.class_is_first()
    train, test = data.train_test_split(66.0, Random(1))
    classifier = Classifier(classname="weka.classifiers.bayes.BayesNet",
                            options=["-D", "-Q", "weka.classifiers.bayes.net

[2019-04-17 01:48] fracpete commented on #23
Please use the project's mailing list for questions.

Don't use "-Xms". You can specify the maximum heap size when starting up the JVM:
http://fracpete.github.io/python-weka-wrapper3/api.html#java-virtual-machine

It may be a problem of your combination of dataset/classifier. Try another classifier, like `weka.classifiers.rules.ZeroR` (as baseline) and then something more sophisticated like `weka.

[2019-04-17 01:48] #23 closed, assigned to nobody

[2019-04-17 01:51] pigeon2049 commented on #23
Thank you

[2019-07-03 02:24] SachitNayak opened #24 "Common issue found while pip3 installing python-weka-wrapper3"
[code]
Many of my friends and I are facing this issue while installing python-weka-wrapper3 for a project

[2019-07-03 02:27] fracpete commented on #24
I presume that you are running Ubuntu or a derivative...
Do you have all the required packages installed?
http://fracpete.github.io/python-weka-wrapper3/install.html#ubuntu

[2019-07-03 06:23] SachitNayak commented on #24
yup! double checked it still fails.

I think the issue seems to lie with javabridge installation and not with this package. I'll try rectifying javabridge first and then re-open this thread if the issue still persists.

Thanks :)

[2019-07-03 06:26] #24 closed, assigned to nobody

[2019-07-04 08:40] Abo7atm commented on #24
I've had the same problem, but on macOS. Setting JAVA_HOME variable to your Java home and exporting it before running `pip install javabridge` fixed it for me.

[2019-07-05 11:34] SachitNayak commented on #24
I actually had set the JAVA_HOME correctly. The issue was that javac (JDK) was not installed on my machine. Even though the jdk folders might exist in the machine it doesn't necessarily mean that JVM is installed on the machine. I had to apt install openjdk inorder to ensure JDK was properly installed on the machine and then javabridge installed smoothly. Obviously python-weka-wrapper3 then instal

[2019-07-05 21:12] fracpete commented on #24
Installing a JDK was one of the prerequisites (Java header files are required for compiling javabridge).

[2019-07-08 04:50] SachitNayak commented on #24
Yes I'm aware; it's just that **after looking at directory listings like _/usr/lib/jvm/java-11-openjdk-amd64/bin/_** I **presumed that JDK was already installed on the Google Colab instance**. **However** I realized **that is not the case** please see [link](https://stackoverflow.com/questions/55718535/cannot-install-python-weka-wrapper-javabridge-on-google-colab/56902590#56902590)

and then I ins

[2019-07-08 21:19] fracpete commented on #24
I added a Q/A to the troubleshooting page regarding the failure to compile javabridge. It stresses the point that a JDK has to be installed (can be tested via `javac` command) and that the `JAVA_HOME` env variable maybe necessary to set.
Thanks for reporting the typo in the package, just fixed it.

[2019-07-09 12:26] SachitNayak commented on #24
I'm glad that I could humbly contribute in some way at least that might help other people. Thank you so much. I hope people will be able to install java bridge without any hassles now. python-weka-wrapper3 is a fantastic package!

Aside: I notice that under the Debian installation instructions, the aforementioned typo is still present. I figured I might bring it to your notice.

[2019-07-09 21:57] fracpete commented on #24
Thanks for picking that up! :-) Just pushed out an update. The documentation is based on the Python 2.7 version, so there were bound to be some typos in there... Glad you like the wrapper!

[2019-10-25 20:27] huyenpham2995 opened #25 "How to set the weight?"
I'm trying to set the weight for an instance using
`inst.weight(0.1)` but I receive the following error

<img width="462" alt="Screen Shot 2019-10-25 at 1 25 34 PM" src="https://user-images.githubusercontent.com/38078261/67602196-f43f7f80-f72a-11e9-9180-85db2852d743.png">

I can print the weight with `inst.weight`

Could you please help me with that?

[2019-10-25 20:59] fracpete commented on #25
On October 26, 2019 9:27:09 AM GMT+13:00, Huyen Pham <notifications@github.com> wrote:

"weight" is a property, not a method:
x.weight = 0.1
y = x.weight

Cheers, Peter
--
Peter Reutemann
Dept. of Computer Science
University of Waikato, NZ
+64 (7) 858-5174
http://www.cms.waikato.ac.nz/~fracpete/
http://www.data-mining.co.nz/

[2019-10-28 21:02] #25 closed, assigned to nobody

[2019-11-18 15:45] severus-sn4pe opened #26 "create_instances_from_matrices: There are no fields in dtype int64 with version 0.1.8"
Since updating to version `0.1.8`, the method `create_instances_from_matrices` does not working the same as before with version `0.1.7`. When passing a numpy-array from a pandas Dataframe with only numerical values, I get a `KeyError: 'There are no fields in dtype int64.'`

Stack trace
[code]

We pass a numpy array like this:
[code]

this worked flawlessly with the previous version, so using `pip

[2019-11-18 20:55] fracpete commented on #26
Please try again with 0.1.9 release.

[2019-11-19 08:07] severus-sn4pe commented on #26
sure, thanks for the fast response.
can you please add a tag/release so I can get the new version with pip install?

[2019-11-19 08:09] fracpete commented on #26
It has already been released on pypi.org:
https://pypi.org/project/python-weka-wrapper3/

[2019-11-19 15:29] severus-sn4pe commented on #26
can confirm that it's working again with version`0.1.9`.
thanks for the fast fix 👍

[2019-11-19 17:59] fracpete commented on #26
No worries. Thanks for verifying!

[2019-11-19 17:59] #26 closed, assigned to fracpete

[2020-02-27 19:53] fracpete opened #27 "Add "append" convenience methods to MultiFilter, MultiClassifiersCombiner"
Add convenience method `append` to MultiFilter and MultiClassifiersCombiner classes to make it easy to add schemes to the underlying array.

[2020-02-27 19:56] fracpete opened #28 "Supply class index string to loaders"
* add optional argument `class_index` to `Loader.load_file` to allow specifying class index
* add optional argument `class_index` to `load_any_file` to allow specifying class index
* `class_index`: string representing 1-based index or `first`, `second`, `third`, `last-2`, `last-1`, `last`

[2020-04-04 18:16] Mahima-ai opened #29 "Accessing statistics of support and confidence for rule classifiers defined in weka.classifiers.rules"
Hey @fracpete ,

I am working on the rule generation methods OneR, PRISM, JRIP, PART, Decision list and others available in Weka using python-weka-wrapper. I want to get the basic statistics like coverage, confidence, true positive etc. of the generated rules.  I got the rules as a string using toString() method on the Classifier object.

I was trying to use the RuleStats class defined in Weka for

[2020-04-04 19:43] fracpete commented on #29
Due to historic reasons, most classifiers implement their own, independent data structures. The RuleStats class is only used by JRip. Parsing the string representation of rules and then turning them back into Java data structures (from within Python using pww) seems an arduous process.
If you still want to pursue the rule parsing, I'd recommend to use Weka's classes in a more direct way, either th

[2020-04-05 04:09] Mahima-ai commented on #29
@fracpete , thanks for the instant reply.

Yes, I am able to get the ruleset for JRIP. For other methods, the rules are as a weka.classifier.Classifier object, so can you tell me which Weka classes should I use to get the ruleset from this classifier object. I need to provide the ruleset as a parameter to the RuleStats class for getting the statistics.

[2020-04-05 04:14] fracpete commented on #29
These other classes do not provide an interface for accessing the rules, as far as I know (maybe there are `protected` methods, but you'd have to dig in the source code for that).
`weka.classifiers.Classifier` is the general interface that all classification and regression algorithms share. It does not give you any access to rule sets.

[2020-04-05 05:04] Mahima-ai commented on #29
Thanks a lot for your help. I will try to find out a way for this.

BTW, the python-weka-wrapper3 is of great help to me. It saved the development time for me.

[2020-04-24 02:38] Mahima-ai commented on #29
Hey,

I solved the issue by parsing the classifier outputs and creating methods for computing the statistics in Python. This is working fine.

I agree to close this issue.

[2020-04-24 02:48] #29 closed, assigned to nobody

[2020-05-02 23:57] fracpete opened #30 "Add convenience methods to make subset generation of datasets easier"
The following methods use the `Remove` filter under the hood to generate the subset
* add `subset_by_colname()` method to `Instances` class (uses names of attributes)
* add `subset_by_colindex()` method to `Instances` class (uses indices of attributes, 0- or 1-based)
The following method uses the `RemoveRange` filter under the hood:
* add `subset_by_rowindex()` method to `Instances` classes (uses

[2020-05-05 23:42] fracpete commented on #28
implemented

[2020-05-05 23:42] #28 closed, assigned to fracpete

[2020-05-05 23:58] fracpete commented on #27
implemented

[2020-05-05 23:58] #27 closed, assigned to fracpete

[2020-05-06 01:40] fracpete commented on #30
Implemented in single method `subset` (`weka.core.dataset.Instances` class), which can use a column range (1-based indices) or list of column names for selecting columns and range of rows (1-based indices). The matching sense for cols/rows can be inverted.

[2020-05-06 01:40] #30 closed, assigned to fracpete

[2020-05-25 09:39] fracpete opened #31 "Add AttributeSelectedClassifier meta-classifier"
* add `AttributeSelectedClassifier` meta-classifier convenience class
* meta-classifier will make setting of search, eval and base classifier easier

[2020-05-25 21:42] fracpete commented on #31
added with 0.1.14 release; also added `AttributeSelection` filter

[2020-05-25 21:42] #31 closed, assigned to fracpete

[2020-07-06 05:28] Gonza10V opened #32 "Problems deserialising model trained in Fiji"
I had run:
`import os
import tempfile
import traceback
import javabridge
import weka.core.jvm as jvm
#import wekaexamples.helper as helper
from weka.core.converters import Loader
from weka.core.dataset import Instances
from weka.classifiers import Classifier
import weka.core.serialization as serialization
jvm.start()

model, _ = Classifier.deserialize('omm.model')
print(model)`

Getting as return,

[2020-07-06 05:41] fracpete commented on #32
On July 6, 2020 5:28:45 PM GMT+12:00, Gonza10V <notifications@github.com> wrote:

You didn't start pww with package support (off by default):

http://fracpete.github.io/python-weka-wrapper3/weka.core.html#weka.core.jvm.start

Cheers, Peter
--
Peter Reutemann
Dept. of Computer Science
University of Waikato, NZ
+64 (7) 858-5174
http://www.cms.waikato.ac.nz/~fracpete/
http://www.data-mining.co.nz/

[2020-07-06 17:29] Gonza10V commented on #32
Hi, thanks for your quick response.  Now I start pww with package support:
` jvm.start(packages=True)`
getting:
`DEBUG:weka.core.jvm:Package support enabled`
but it returns the same error:
`JavaException: Unable to find class hr.irb.fastRandomForest.FastRandomForest`

What else can I do to make it work? Have I done something wrong?
Thanks for your help

[2020-07-06 20:19] fracpete commented on #32
Did you not install the FastRandomForest package through Weka's package manager? pww comes with its own `weka.jar` and uses the default Weka home directory (on Linux this is `$USER/.wekafiles`) when starting up with package support enabled. The Weka home directory contains the installed packages. If you need to add additional jar files to the class path, you can do that as well using the `class_pa

[2020-07-08 17:22] Gonza10V commented on #32
Hi, no I didnt found FastRandomForest package using the Wekas package manager, but I download the Github folder: https://github.com/fracpete/fastrandomforest-weka-package and paste it into wekafiles/packages (the folder where the packages installed with the Weka package manager seems to be stored, I just download a random package and track changes on OSX). It seems to work, no it returns:
`FastRan

[2020-07-08 20:40] fracpete commented on #32
That's not how you install an unofficial Weka package. Instead, you download a release zip file (see the *Releases* section on that github project page) and install that zip properly through the Weka package manager - either using Weka's user interface or the appropriate pww API calls. I assumed that you were familiar with the package manager, as your initial post quoted a class from that unoffici

[2020-07-09 18:58] Gonza10V commented on #32
Thanks you very much for your answers, great response time 👍

[2020-07-09 18:58] #32 closed, assigned to nobody

[2020-09-30 06:03] sakshamnagpal opened #34 "Syntax Error"
Hi,

I encountered a syntax error while trying to use weka.core.converters Loader. The error is as follows:

`Traceback (most recent call last):
  File "/Users/username/Predictor/test.py", line 1, in <module>
    from weka.core.converters import Loader
  File "/Users/username/.conda/envs/Predictor/lib/python3.8/site-packages/weka/core/converters.py", line 18, in <module>
    from weka.core.classes

[2020-09-30 07:12] fracpete commented on #34
Since `except Exception, e` is Python 2 syntax and the `python-weka-wrapper3` code base, which is Python 3, doesn't contain that at all, I can only presume that you installed the `python-weka-wrapper` package instead of `python-weka-wrapper3`. You can check this by running `pip freeze`.

[2020-09-30 09:03] sakshamnagpal commented on #34
That resolved my query, thank you so much!

[2020-09-30 09:03] #34 closed, assigned to nobody

[2021-08-02 11:31] programmingpixels opened #35 "Example from documentation "Create dataset from matrices" raises an exception"
Sorry, failure on my part to start the VM!

The example I'm following is: http://fracpete.github.io/python-weka-wrapper/examples.html#create-dataset-from-matrices

My library versions are:
python-weka-wrapper3 0.2.3
numpy 1.21.1
javabridge 1.0.19

Python 3.9.6 (default, Jul 26 2021, 11:20:45)
[GCC 7.5.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (mo

[2021-08-02 11:48] #35 closed, assigned to nobody

[2021-08-02 20:50] fracpete commented on #35
Also, you're following the examples for the Python 2.7 version (python-weka-wrapper) rather than the Python 3 version (python-weka-wrapper3):
http://fracpete.github.io/python-weka-wrapper3/examples.html#create-dataset-from-matrices

[2021-11-23 15:03] nasserbinlaboun opened #36 "classify_instance - Null Exception"
When trying to classify an instance
`pred = my_model.classify_instance(inst)`

it shows this error
[code]

[2021-11-23 19:47] fracpete commented on #36
Please supply minimal Python script and dataset to replicate the error with. Also, the `ArabicStemmerKhoja` stemmer does not seem to be one that comes with Weka - is that from an unofficial Weka package or third-party jar? If so, you need to supply links to the source/jar as well.

[2021-12-03 14:24] nasserbinlaboun commented on #36
Sorry for being late, and thank you for your fast reply.

another exception related to the previous one
[code]

`ArabicStemmerKhoja` comes with Weka by default.

### My Code

[code]

[2021-12-03 20:25] fracpete commented on #36
You are trying to print the `class_index` of your dataset, but you have never set it after you created your dataset. That is why you are getting `UnassignedClassException`.

No, there is no class in Weka that contains `Arabic` in its name (just had a look at the source code of the official packages and the core distribution). The default stemmers are: IteratedLovinsStemmer, LovinsStemmer, NullStem

[2021-12-03 23:42] nasserbinlaboun commented on #36
My bad, `ArabicStemmerKhoja` comes with this unofficial package:
https://weka.sourceforge.io/packageMetaData/ArabicStemmers_LightStemmers/index.html

Is there any way to use it?

[2021-12-06 08:34] fracpete commented on #36
Before trying to script it, can you confirm that you can apply a built model successfully to a test set in the Weka Explorer?

[2022-01-12 10:17] uday3207 opened #37 "using image filter in python"
Is there anyway to use imagefilter for processing images in python?

[2022-01-12 20:03] fracpete commented on #37
Yes, here is an example (you need to adjust the paths, of course):

[code]

[2022-01-12 20:03] #37 closed, assigned to nobody

[2022-01-24 07:46] uday3207 opened #38 "AttributeError: 'NoneType' object has no attribute 'find_class'"
When i'm trying to load a file using Loader class or load_any_file function. I'm getting this error ```AttributeError: 'NoneType' object has no attribute 'find_class'```

how to solve this issue

my code

[code]

This is the error

[code]

[2022-01-24 08:03] fracpete commented on #38
pww3 does not work in a multi-threaded/-process environment unfortunately.

[2022-01-24 08:14] uday3207 commented on #38
I found [this](https://groups.google.com/g/python-weka-wrapper/c/W4J37yNVGzU) and tried to implement by creating multiple objects. So in anyway we can't do this right?  @fracpete

[2022-01-24 08:18] fracpete commented on #38
Your error suggests that it isn't possible in that fashion.

If you wanted to do something in parallel, you might try starting separate Python processes using the `subprocess` module, each processing a different dataset using a pww3 script (that will also start up multiple JVMs, of course).

[2022-01-24 14:05] #38 closed, assigned to nobody

[2022-02-19 10:28] #36 closed, assigned to nobody

[2022-05-16 17:39] peperc opened #40 "Logging level configuration of jvm module"
I suggest to implement (if there isn't already implemented) an option to configure the logging level of the jvm module, maybe an argument at the jvm.start(). At default is is set to DEBUG.

[code]

Prints:

Thank you!

[2022-05-16 20:49] fracpete commented on #40
Only the logger responsible for `weka.core.jvm` is set to `DEBUG`. That way, it is easier to determine what went wrong when people fire up the JVM. If you want to turn it off, simply do this:

[code]

However, I will add another parameter to the `start(...)` method, allowing you to set the logging level through there as well.

[2022-05-16 20:53] fracpete commented on #40
Implemented with 8dd162f616b6de4ec3784f7e514208e14da5d00f

[2022-05-16 20:53] #40 closed, assigned to fracpete

[2022-06-23 05:02] fracpete opened #41 "add entry_point for package manager"
* add entry_point `pww-packages` that points to `weka.core.packages`
* add argument parsing with following sub-commands
  * `list --type installed|available|all` - lists packages
  * `info [--name NAME]` - outputs info on all or just one particular package
  * `install --name NAME/URL/PATH [--version VERSION]` - installs the specified package
  * `uninstall --name NAME` - uninstalls the specified

[2022-06-25 23:13] fracpete commented on #41
implemented with 9925ce94bbed7f49873c18b2325d57e9eedbdb6a

[2022-06-25 23:13] #41 closed, assigned to fracpete

[2022-07-15 17:25] m-martin-j opened #42 "Access protected attribute of Java class"
_Question_

Version:
python = "3.9.*"
python-weka-wrapper3 = "0.2.10"
python-javabridge = "4.0.3"

Hello,

I am attempting to access the attribute `protected Vector<double[][]> matricesDilca` of the Java class [DilcaDistance](https://svn.cms.waikato.ac.nz/svn/weka/trunk/packages/external/DilcaDistance/src/main/java/weka/core/DilcaDistance.java) (external Weka package) from Python.

A Java method `

[2022-07-17 06:46] fracpete commented on #42
0.2.10 is not yet officially released. ;-)

If I remember correctly, only public methods can be accessed via javabridge (just like any other Java library basically).

You would need to subclass the class, make the relevant methods public (and just call the inherited methods). Then you should be able to use the ".jwrapper" property (that any wrapper in pww offers) to obtain a wrapper for all public

[2022-07-17 10:58] m-martin-j commented on #42
Hi,

then I am confused?! [0.2.10 on PyPI](https://pypi.org/project/python-weka-wrapper3/)

But subclassing needs to occur in Weka's Java code and cannot be done in Python, right?

Also, even if one went through all those matrix conversions, would this lead to an increase in numeric precision of the matrix-contained values?

[2022-07-17 20:58] fracpete commented on #42
Apologies, my bad. I made a release from a different machine than I usually do (pww3 is a personal side project that I work on only now and then).

Yes, sub-classing has to happen on the Java side of things. pww3 is just a wrapper around Java code being executed in a JVM.

You might get a little bit more precision out of it, as you are using the internal double precision representation rather than

[2022-07-18 12:11] m-martin-j commented on #42
Thank you for your input on this!

Closing this issue.

[2022-07-18 12:11] #42 closed, assigned to nobody

[2022-07-20 01:37] fracpete commented on #42
Just committed some changes (https://github.com/fracpete/python-weka-wrapper3/commit/a8c86c99068ccf238d16f3acea09182280167223) that should help you.

The newly added methods `get_non_public_field` and `call_non_public_method` (module `weka.core.classes`) allow you to access/call private/protected Java fields/methods (NB: a Java security manager may prohibit this access, though).

The following exa

[2022-07-23 15:54] m-martin-j commented on #42
Just as a brief checkback: Your approach fulfilled my case exactly. Thanks again.

[2022-09-27 17:37] alvinkhoo91 opened #43 "Bayes net visualize tree"
![error](https://user-images.githubusercontent.com/65526263/192596846-069ec987-5d13-42b7-bd49-c2030143151f.png)

I tried visualizing Bayes net result but appeared error as above. J48 was fine following the example given.

[2022-09-27 20:00] fracpete commented on #43
As you can see, BayesNet did not generate output in dot notation, but in [XML BIF](https://web.archive.org/web/20210122153549/http://sites.poli.usp.br/p/fabio.cozman/Research/InterchangeFormat/index.html). pww3 has no in-built functionality to visualize XML BIF.

[2022-09-27 20:00] #43 closed, assigned to nobody

[2022-09-27 22:41] fracpete commented on #43
You might be able to use [pgmpy](https://pgmpy.org/readwrite/bif.html) for reading the BIF XML data and then visualize it, but I haven't tested that.

[2022-09-29 01:16] fracpete commented on #43
Just pushed some experimental functionality for converting the XML BIF belief network structure into dot format, see example [BayesNet](https://github.com/fracpete/python-weka-wrapper3-examples/blob/master/src/wekaexamples/classifiers/bayesnet.py).
For this functionality to be available, you need to install pww3 directly from the [repo](https://fracpete.github.io/python-weka-wrapper3/install.html#

[2022-09-29 09:06] alvinkhoo91 commented on #43
![image](https://user-images.githubusercontent.com/65526263/192990140-e4ad749a-bbd0-4e10-9038-a927f31e0428.png)

Manually Install through python setup.py install, direct from git unable to install, having the error.

The graph seems doesn't work in my side, maybe I need reinstall library again ?

[2022-09-29 09:23] fracpete commented on #43
Install `lxml` as well.

[2022-10-01 18:27] alvinkhoo91 opened #44 "Plot multiple graphs"
How to display plot_roc and plot_classifier_errors at the same time?
I realize I have to close another window of matplot for the program to pop up another window for another program by using the weak. plot.classifiers

[2022-10-01 22:53] fracpete commented on #44
Use `wait=False` as per documentation of the relevant methods, eg:

* https://fracpete.github.io/python-weka-wrapper3/weka.plot.html?highlight=plot_classifier#weka.plot.classifiers.plot_classifier_errors
* https://fracpete.github.io/python-weka-wrapper3/weka.plot.html?highlight=plot_roc#weka.plot.classifiers.plot_roc

Please use the mailing list for questions:

https://groups.google.com/g/python-w

[2022-10-01 22:53] #44 closed, assigned to nobody

[2022-11-25 23:26] hwy1992129 opened #45 "How to use pyinstaller with weka?"
Hi, I need some help.
I am converting my python code to executable files with pyinstaller.
I encountered the error, as follows. I know nothing about java.... Packaged java environment not found?
![image](https://user-images.githubusercontent.com/70329303/204062880-65237357-cf6d-44ff-a453-a84d9bfa6b29.png)

[2022-11-27 21:58] fracpete commented on #45
I don't think so that Java can be packaged with pyinstaller.
Did you install Java (eg [OpenJDK](https://adoptium.net/)) on the system that you were running your pyinstaller-generated installer?

[2022-11-27 23:10] hwy1992129 commented on #45
@fracpete I am using auto-py-to-exe, which is the GUI version of pyinstaller. I think I solved the problem by adding java into path. However, do you know any other methods to turn weka python into binary?

[2022-11-27 23:59] fracpete commented on #45
I'm not a Windows user. Personally, I haven't come across a satisfactory way of turning Python into binaries.

For packaging large amounts of dependencies and libraries etc, I tend to use Docker under Linux. pww3 is published on Docker hub:

https://hub.docker.com/r/fracpete/pww3/tags

You can use one of these images as base image and then just add your own packages, scripts, etc. Here is some mor